<div class="reflections-box">
  <div class="reflection-modul">
    <p class="reflection-title">Reflextions</p>
    <div class="toggle">
      <button type=""></button>
    </div>
    <div class="reflection-buttons">
      <div class="level">
        <p class="modul-title">Level</p>
        <img src="assets/reflection-circle.png" alt="">
        <p class="modul-value">0.0 dB</p>
      </div>
      <div class="size">
        <p class="modul-title">Size</p>
        <img src="assets/reflection-circle.png" alt="">
        <p class="modul-value">10 m</p>
      </div>
      <div class="room">
        <p class="modul-title">Room</p>
        <button class="room-btn">Drywall</button>
      </div>
    </div>
  </div>

  <div class="clarity-modul">
    <p class="modul-title">Clarity</p>
    <img src="assets/reflection-circle.png" alt="">
    <p class="modul-value">39 %</p>
  </div>
  <div class="width-modul">
    <p class="modul-title">Width</p>
    <img src="assets/reflection-circle.png" alt="">
    <p class="modul-value">44 %</p>
  </div>

</div>